<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Уровень логирования по умолчанию -->
    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>

    <!-- Настройка логирования в консоль -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Цветной вывод в консоли -->
            <pattern>
                %d{HH:mm:ss} [%highlight(%-5level)] %cyan(%logger{36}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Логирование ошибок в отдельный файл -->
    <appender name="FileAppender" class="ch.qos.logback.core.FileAppender">
        <file>plugins/BWTelegramNotify/logs/errors.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%level] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Логирование только ошибок -->
    <logger name="me.projectbw.BWTelegramNotify" level="DEBUG" additivity="false">
        <appender-ref ref="Console"/>
        <appender-ref ref="FileAppender"/>
    </logger>

</configuration>
